.skill_con{
	width:100%;
	overflow:hidden}
.canvas_wrap{
	width:50%;
	float:left;
	overflow:hidden;
	padding:30px 0 0 0}
.text_wrap{
	width:50%;
	float:left;
	padding:30px 0 0 20px}
.text_wrap p{
	font-size:1.8rem;
	line-height:24px;
	padding:10px 0}
.canvas_con{
	width:160px;
	height:160px;
	margin:10px 15px;
	float:left;
	position:relative}
.text_con{
	width:160px;
	height:80px;
	position:absolute;
	top:27px;
	left:0;
	text-align:center;
	padding:20px}
.text_con p{
	font-size:24px;
	line-height:29px;
	font-weight:bold}